<!DOCTYPE html>
    <head>
       <title>titleeee </title>
       <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <h1>home page from view engine</h1>
  
    </body>
    </html>